@import 'src/variables';

.hello {
  display: block;
  font-size: 5em;

  background: linear-gradient(
    to right,
    $text-color 20%,
    $purple-color 40%,
    $purple-color 60%,
    $text-color 80%
  );
  background-size: 200% auto;

  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 1.5s linear;
}

.section-heading {
  font-size: 1.5em;
}

.short-bio,
.refference {
  font-size: 1.15em;
}

.card {
  background-color: #35383a;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 5%;
}
.resumeLink {
  text-align: center;
  cursor: pointer;
  background-color: #25272a;
  color: $text-color;
}

.resumeLink:hover > label {
  background: linear-gradient(
    to left,
    $text-color 20%,
    $purple-color 40%,
    $purple-color 60%,
    $text-color 80%
  );
  background-size: 200% auto;

  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 1.5s linear infinite;
}

.resumeLink > label {
  font-size: 1.5em;
  cursor: pointer;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}
