html,
body {
  background-color: #18181c;
  color: white;
}

::-webkit-scrollbar {
  width: 1px;
}

* {
  font-family: 'Droid Sans', sans-serif;
  line-height: 1.2;
}

a {
  color: white;
}

.App {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 1400px;
  padding: 10px;
}

.leftBar {
  width: 30%;
}

.logo {
  border-radius: 5px;
  background-color: #494161;
  scroll-snap-align: start;
  flex-shrink: 0;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.smallLogo {
  width: 15px;
  height: 15px;
}
.mediumLogo {
  width: 20px;
  height: 20px;
}
.largeLogo {
  width: 45px;
  height: 45px;
}

.carousel {
  display: flex;
  gap: 2.5%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  margin-top: 15px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  margin-top: 10px;
  height: 10px;
  background-color: #414141;
}

::-webkit-scrollbar-thumb {
  background: #252325;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.contactWay {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  justify-content: left;
  align-items: center;
}

.bubble,
.details {
  animation: animatedImage 0.15s linear;
}

@keyframes animatedImage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 760px) {
  .App {
    position: relative;
  }

  .leftBar {
    width: 100%;
  }
  .content {
    display: block !important;
  }
}
