@import 'src/variables';

html,
body {
  background-color: $background-color;
  color: $text-color;
}

::-webkit-scrollbar {
  width: 1px;
}

* {
  font-family: 'Droid Sans', sans-serif;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
p,
a {
  color: $text-color;
}

.full-width {
  width: 100%;
}

.App {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 1400px;
  padding: 10px;
}

.content {
  display: flex;
  gap: 10px;
}

.leftBar {
  width: 30%;
}

.logo {
  border-radius: 5px;
  background-color: $purple-color;
  scroll-snap-align: start;
  flex-shrink: 0;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.smallLogo {
  width: 15px;
  height: 15px;
}
.mediumLogo {
  width: 20px;
  height: 20px;
}
.largeLogo {
  width: 45px;
  height: 45px;
}

::-webkit-scrollbar {
  margin-top: 10px;
  height: 10px;
  background-color: $scrollbar-bg-color;
}

::-webkit-scrollbar-thumb {
  background: $gray-dark;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.bubble,
.details {
  animation: animatedImage 0.15s linear;
}

@keyframes animatedImage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 760px) {
  .App {
    position: relative;
  }

  .leftBar {
    width: 100%;
  }
  .content {
    display: block !important;
  }
}
